/* src/features/common/Gallery.css */

.gallery {
  text-align: center;
  padding: 20px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.images-container img {
  max-width: 200px;
  border-radius: 10px;
}
