/* // src/features/common/Navbar.css */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
}

.nav {
  display: flex;
  justify-content: center;
  height: 60px;
  align-items: center;
}

.nav-link {
  font-size: 1.1rem;
  color: #222;
  padding: 10px 18px;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--primary-color);
}